@charset "UTF-8";

html,
body {
	width: 100%;
	height:100%;
}

body {
	color: #000;
	font-family: 'Raleway', 'Open Sans', sans-serif, arial;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	background: #fff url('../../assets/img/graphics/bg-top.png') repeat-x left top;
}

.touch body {
	/*overflow: hidden;
	height: 100%;*/
}
.touch #scroller {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*
.touch #header {
	transform: translate3d(0, 0, 2px);
	-webkit-transform: translate3d(0, 0, 2px);
}
.touch .section {
	transform: translate3d(0, 0, 1px);
	-webkit-transform: translate3d(0, 0, 1px);
}
.touch .section * {
	transform: translate3d(0, 0, 2px);
	-webkit-transform: translate3d(0, 0, 2px);
}
.touch #nextpage {
	transform: translate3d(0, 0, 2px);
	-webkit-transform: translate3d(0, 0, 2px);
}
.touch #background {
	transform: translate3d(0, 0, -100px);
	-webkit-transform: translate3d(0, 0, -100px);
}
*/

.none {
	display: none;
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 960px;
	min-height: 700px;
}


#background div,
#background svg,
#background canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -800px;
	margin-top: -600px;
}

#background img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -600px;
	margin-top: -350px;
}

#nextpage {
	position: fixed;
	bottom: 30px;
	left: 50%;
	margin-left: -17px;
	z-index: 10000;
	background: url(../../assets/img/splite.png) no-repeat;
}

/* header
================================================== */

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 960px;
	text-align: center;
	z-index: 3000;
/* 	background: url('../assets/img/graphics/linehe.png') repeat-x left bottom; */
	background-color: rgba(255,255,255,0.4);
	border-bottom:1px solid rgba(255,255,255,0.5);
}
#header .inner {
	width: 960px;
	margin: 17px auto 0;
	font-weight: bold;
}
#header h1 {
	margin: 11px 0 0 30px;
	float: left;
}
#header h1 a {
	background: url('../../assets/img/splite.png') no-repeat;
	display: inline-block;
}
#header ul {
	margin: 18px 0 0 133px;
	float: left;
	font-family: 'Open Sans', sans-serif, arial;
}
#header ul li {
	float: left;
	margin-right: 30px;
}
#header ul li a {
	color: #888b8b;
	text-transform: uppercase;
	display: inline-block;
	height: 23px;
	text-decoration: none;

	transition: color 300ms ease-in-out;
	-webkit-transition: color 300ms ease-in-out;
}
#header ul li a:hover {
	color: #000;
}
#header ul li.current a {
	border-bottom: 2px solid #000;
	color: #000;
}
#header .lang {
	float: right;
	margin: 20px 30px 0 0px;
	font-family: 'Raleway', 'Open Sans', sans-serif, arial;
	color: #888b8b;
	font-size: 10px;
	font-weight: bold;
}
#header .lang a {
	color: #888b8b;
	display: inline-block;
	margin: 0 5px;
	transition: color 300ms ease-in-out;
	-webkit-transition: color 300ms ease-in-out;
}
#header .lang .active,
#header .lang a:hover  {
	color: #000;
}


/* section
================================================== */

.section {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 700px;
	min-width: 960px;
	zoom: 1;
	overflow: hidden;
}
.section .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 960px;
	height: 640px;
	margin-top: -300px;
	margin-left: -480px;
	z-index: 1;
}
.section .title {
/* 	overflow: hidden; */
	margin-left: 37px;
}

.section .title h2 {
	font-family: 'Sintony', 'Open Sans', sans-serif, arial;
	font-size: 54px;
	letter-spacing: 10px;
	padding-bottom:10px;
	margin-left:-3px;
	text-transform: uppercase;
}
.section .title div {
	font-size: 14px;
	line-height: 1.7;
}
.section .title div a {
	color: #3a9069
}


/* content top
================================================== */

#top h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -455px;
	z-index: 100;
}


/* content philosophy
================================================== */

#aboutus {
	background: #fff url('../../assets/img/graphics/bg-net.png') repeat-x left top fixed;
}


#aboutus .list-phi {
	position: absolute;
	width: 960px;
	height: 420px;
	top: 140px;
}

#philosophy .stitle,#aboutus .stitle {
	font-size: 24px!important;
	text-align: center;
}
#philosophy .list-phi {
	top: 168px;
}


/* .inner .slide01 #philosophy
------------------------------------------------------------------------------*/

.slide01 .circle {
	overflow: hidden;
	text-align: center;
	padding: 0 20px;
	vertical-align: middle;
	line-height: 1.6;
	position: absolute;
}
.slide01 .circle b {
	font-family: 'Raleway', 'Open Sans', sans-serif, arial;
	font-weight: bold;
	font-size: 24px;
	display: inline-block;
	margin-bottom: 20px;
}

.slide01 .circle .circle-bg {
	position: absolute;
	top:0;
	left:0;
}

.slide01 .circle .circle-text {
	position: relative;
	z-index: 11;
}
.slide01 .icircle-01 {
	width: 265px;
	height: 215px;
	left: 43px;
	top: 118px
}
.slide01 .icircle-02 {
	width: 265px;
	height: 230px;
	left: 346px;
	top: 214px;
}
.slide01 .icircle-03 {
	width: 265px;
	height: 215px;
	left: 634px;
	top: 41px;
}

.slide01 .caption {
	position: absolute;
	top:420px;
	width: 100%;
	text-align: center;
	font-size: 24px!important;
	padding-left: 1.2em;
}

/* .inner .slide02 #philosophy
------------------------------------------------------------------------------*/

.slide02 .circle {
	overflow: hidden;
	text-align: center;
	padding: 0 0;
	vertical-align: middle;
	line-height: 1.6;
	position: absolute;
}
.slide02 .circle b {
	font-family: 'Raleway', 'Open Sans', sans-serif, arial;
	font-weight: bold;
	font-size: 24px;
	display: inline-block;
	margin-bottom: 20px;
}

.slide02 .circle .circle-bg {
	position: absolute;
	top:0;
	left:0;
}

.slide02 .circle .circle-text {
	position: relative;
	z-index: 11;
	padding-top:94px;
}
.slide02 .icircle-01 {
	width: 237px;
	height: 236px;
	left: 227px;
	top: 140px;
}
.slide02 .icircle-02 {
	width: 237px;
	height: 236px;
	left: 389px;
	top: 30px;
}
.slide02 .icircle-03 {
	width: 237px;
	height: 236px;
	left: 567px;
	top: 140px;
}
.slide02 .icircle-04 {
	width: 237px;
	height: 236px;
	left: 389px;
	top: 240px;
}
.slide02 .caption {
	position: absolute;
	bottom:0;
	width: 100%;
	text-align: center;
	font-size: 24px!important;
	padding-left: 1.2em;
}


.map-network {
	text-align: center;
	margin-top: 132px;
}

#aboutus .slide01 {

}
#aboutus .slide02 {
	display: none;
}
#aboutus .slide03 {
	display: none;
}
#aboutus .inner .next,
#aboutus .inner .prev {
	position: absolute;
	top: 50%;
	color: #000;
	height: 24px;
	padding-top: 6px;
	font-family: 'Raleway', 'Open Sans', sans-serif, arial;
	font-size: 16px;
	z-index: 100;
	transition: color 200ms ease-out;
	-webkit-transition: color 200ms ease-out;
}
#aboutus .inner .next:hover,
#aboutus .inner .prev:hover {
	color: #888b8b;
}
#aboutus .inner .next {
	background: url('../../assets/img/graphics/next.png') no-repeat right top;
	right: -145px;
	padding-right: 24px;
}
#aboutus .inner .prev {
	background: url('../../assets/img/graphics/prev.png') no-repeat left top;
	/*left: 50px;*/
	left: -100px;
	padding-left: 24px;
}
.no-js #aboutus .inner .next,
.no-js #aboutus .inner .prev {
	display: none;
}

@media only screen and (max-width:1260px){
	#aboutus .inner .next {
		top: 80%;
		right: 20px;
	}
	#aboutus .inner .prev {
		top: 80%;
		left: 20px;
	}
}


/* content work
================================================== */

#work {
	background: #fff url('../../assets/img/graphics/bg-work.png') repeat-x left top fixed;
}

.list-work {
	margin: 37px 0 0 20px;
	width: 940px;
	height: 340px;
	background: url(../../assets/img/works/client.png)	0 0 no-repeat;
}
.list-work ul {

}
.list-work li {
	width: 150px;
	height: auto;
	float: left;
	margin: 0px 15px 25px;
	text-align: center;
	position: relative;
}
.works-bg {
	position: absolute;
	top:-18px;
	left:0;
	z-index:10;
}

.list-work li a img {
	margin-bottom: 20px;
/*
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
*/
}

.list-work li a:hover img {
/*
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
*/
}
/*.list-work li img {
    display: block;
    position: relative
}
.list-work li img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.list-work li:hover img {
  -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
} */

.list-work a {
	font-size: 14px;
	color: #000;
	display: block;
	position: relative;
	z-index:11;
}
.list-work a:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.list-work a span {
	display: inline-block; *display: inline; *zoom:1;

}

/* Add items 140313 */




/* content people
================================================== */

#people {
	background:#fff url('../../assets/img/graphics/bg-people.png') repeat-x left top fixed;
}

#people .slide {
	position: absolute;
	top: 150px;
	left: 0;
	width: 100%;
	display: none;
}
#people .slide#list-people {
	top: 76px;
}
#people #list-people {
	display: block;
}
#people #list-people ul {
	margin: 87px auto 0;
}

#people #list-people li {
	width: 18%;
	margin: 0 1% 0;
	float: left;
}
#people #list-people li a {
	display: block;
	width: 100%;
	height: 155px;
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}
#people #list-people li .name {
	line-height: 1.2;
	font-size: 182%;
	position: absolute;
	top:2.3em;
	left:0;
	text-align: center;
	width: 100%;
	color: #000000;
}
#people .pager {
	position: absolute;
	bottom: 60px;
	left: 0;
	width: 100%;
/* 	visibility: hidden; */
}
#people .pager ul {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
#people .pager li {
	display: inline-block;* display: inline; *zoom:1;
	margin: 0 10px 0;
	transition: all 200ms;
	-webkit-transition: all 200ms;
}
#people .pager li.cu {
	zoom:1.3;
}
#people .slide .img {
	position: absolute;
	width: 284px;
	height: 284px;
	top:0;
	left:20px;
}
#people .slide .sname {
	position: absolute;
	left:40%;
	top:50px;
	width: 50%;
	font-family: 'Open Sans', sans-serif, arial;
	font-size: 200%;
}
#people .slide .position {
	position: absolute;
	left:40%;
	top:90px;
	width: 50%;
	font-family: 'Open Sans', sans-serif, arial;
	font-size: 140%;
}
#people .slide .text {
	position: absolute;
	left:40%;
	top:130px;
	width: 65%;
	font-size: 120%;
	line-height: 150%;
}
#people .pager li a {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

#people .pager li a.item00 {
	background-color: #000;
	opacity: 0.5;
}
#people .pager li a.item01 {
	background-color: #eca9e8;
	opacity: 0.6;
}
#people .pager li a.item02 {
	background-color: #a9aeec;
	opacity: 0.6;
}
#people .pager li a.item03 {
	background-color: #87c7d3;
	opacity: 0.6;
}
#people .pager li a.item04 {
	background-color: #60cb5d;
	opacity: 0.6;
}
#people .pager li a.item05 {
	background-color: #e0c384;
	opacity: 0.6;
}

.ie8 #people .pager li a.item00 {
	opacity: 1;
	background: transparent url(../../assets/img/graphics/ourpeople_loc00.png) top left no-repeat;
	background-size: 20px 20px;
}
.ie8 #people .pager li a.item01 {
	opacity: 1;
	background: transparent url(../../assets/img/graphics/ourpeople_loc01.png) top left no-repeat;
	background-size: 20px 20px;
}
.ie8 #people .pager li a.item02 {
	opacity: 1;
	background: transparent url(../../assets/img/graphics/ourpeople_loc02.png) top left no-repeat;
	background-size: 20px 20px;
}
.ie8 #people .pager li a.item03 {
	opacity: 1;
	background: transparent url(../../assets/img/graphics/ourpeople_loc03.png) top left no-repeat;
	background-size: 20px 20px;
}
.ie8 #people .pager li a.item04 {
	opacity: 1;
	background: transparent url(../../assets/img/graphics/ourpeople_loc04.png) top left no-repeat;
	background-size: 20px 20px;
}
.ie8 #people .pager li a.item05 {
	opacity: 1;
	background: transparent url(../../assets/img/graphics/ourpeople_loc05.png) top left no-repeat;
	background-size: 20px 20px;
}

/* content contact
================================================== */

#contact {
	background:#edf4ec url('../../assets/img/graphics/bg-contact.png') repeat-x left top fixed;
}

#contact .inner .title > div {
	padding-left:73px;
	padding-top:54px;
	line-height: 2;
}

#contact .inner-con {
	width: 736px;
	height: auto;
	margin: 124px auto 0;
}
#contact .inner-con p {
	font-family: 'Open Sans', sans-serif, arial;
	font-size: 16px;
	float: left;
	margin-right: 14px;
	margin-top: 75px;
}
#contact .inner-con div {
	float: left;
	border-left: 1px solid #dadddc;
	padding-left: 14px;
	line-height: 1.6;
}
#contact .inner-con div span {
	display: inline-block;
	width: 50px;
}
#contact .inner-con a{
	color: #3a9069
}
#contact .inner-con a:hover {
	text-decoration: underline;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 9px;
	color: #999;
	padding-bottom: 24px;
	overflow: hidden;
	z-index: 100;
}
.social {
	margin-bottom: 20px;
}

.social a {
	width: 25px;
	height: 25px;
	margin: 0 3px;
	display: inline-block;
	background: url('../../assets/img/splite.png') no-repeat;
}
.social a:hover {
	text-decoration: underline;
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}


/* splite
================================================== */

#header h1 a {
	width: 89px;
	height: 19px;
	background-position: 0px 0px;
}

.social .facebook {
	background-position: -72px -30px;
}
.social .twitter {
	background-position: -0px -30px;
}
.social .google {
	background-position: -36px -30px;
}

#nextpage {
	width: 34px;
	height: 15px;
	background-position: -0px -66px;
}


/* debug
================================================== */

#debug {
	position: fixed;
	bottom: 0;
	right: 0;
	background: #000;
	color: #fff;
	padding: 5px;
	z-index: 100000;
}

#debug table th,
#debug table td {
	width: 50px;
}

/* VN Ver Font
================================================== */

body:lang(vi-VN) {
	font-family: 'Open Sans', sans-serif, arial;
}
.section .title h2:lang(vi-VN) {
	font-family: 'Open Sans', sans-serif, arial;
}
.slide01 .circle b:lang(vi-VN) {
	font-family: 'Open Sans', sans-serif, arial;
}
.slide02 .circle b:lang(vi-VN) {
	font-family: 'Open Sans', sans-serif, arial;
}
#aboutus .inner .next:lang(vi-VN),
#aboutus .inner .prev:lang(vi-VN) {
	font-family: 'Open Sans', sans-serif, arial;
}
#people #list-people li .position:lang(vi-VN) {
	font-family: 'Open Sans', sans-serif, arial;
}
#people .slide .sname:lang(vi-VN) {
	font-family: 'Open Sans', sans-serif, arial;
}
#people .slide .position:lang(vi-VN) {
	font-family: 'Open Sans', sans-serif, arial;
}
#people .slide .text:lang(vi-VN) {
	font-family: 'Open Sans', sans-serif, arial;
}
#contact .inner-con p:lang(vi-VN) {
	font-family: 'Open Sans', sans-serif, arial;
}

/* VN Ver Layout
 -------------------- */

#aboutus .list-phi:lang(vi-VN) {
top: 125px;
}
#philosophy .list-phi:lang(vi-VN) {
top: 170px;
}
.slide01 .icircle-01:lang(vi-VN) {
top: 141px;
}
.slide01 .caption:lang(vi-VN) {
top: 436px;
}